@page "/promotion/change-status/{CurrentPromotionId}"

@using SitewareStore.Domain.Enums

<PageTitle>Siteware Store - Alteração de status de promoção</PageTitle>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            @if (alertControl.Key)
            {
                <div class="alert alert-danger" role="alert">
                  <h5 class="text-center">
                      <span class="oi oi-warning" aria-hidden="true"></span> Ocorreu um erro
                  </h5>
                  <hr/>
                  <h6 class="text-center">@alertControl.Value</h6>
                </div>
            }

            <h3>Alteração de Status de Promoção</h3>
            <hr/>

            @if (PromotionDto != null)
            {
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">Deseja realmente alterar o status desta promoção?</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row">Identificador</th>
                                    <td>@PromotionDto.Id</td>
                                </tr>
                                <tr>
                                    <th scope="row">Tipo</th>
                                    <td>@PromotionDto.Type.GetDescription()</td>
                                </tr>
                                <tr>
                                    <th scope="row">Status</th>
                                    <td>@PromotionDto.Status.GetDescription()</td>
                                </tr>

                                @if (PromotionDto.CutQuantity.HasValue)
                                {
                                    <tr>
                                        <th scope="row">Quantidade de corte</th>
                                        <td>@PromotionDto.CutQuantity</td>
                                    </tr>
                                }

                                @if (PromotionDto.Percentage.HasValue)
                                {
                                    <tr>
                                        <th scope="row">Porcentagem de desconto</th>
                                        <td>@PromotionDto.Percentage?.ToString("F") %</td>
                                    </tr>
                                }

                                @if (PromotionDto.Price.HasValue)
                                {
                                    <tr>
                                        <th scope="row">Preço final</th>
                                        <td>@PromotionDto.Price?.ToString("C")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="float-end">
                            <button class="btn btn-secondary" style="margin-right: 10px;" @onclick="() => GoBack()">
                                <span class="oi oi-arrow-thick-left" aria-hidden="true"></span> Voltar
                            </button>

                                <button class="btn btn-warning" @onclick="async () => await ChangeStatus()" disabled="@saving">
                                @if (saving)
                                {
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                }
                                else
                                {
                                    <span class="oi oi-loop" aria-hidden="true"></span>    
                                }
                                Alterar
                            </button>
                        </div>
                    </div>
                </div>    
            }
        </div>
    </div>
</div>